@model TheWarehouse.Data.Announcement

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Announcement</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cant)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Cant)
        </dd>
        <dt>
            Picture
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.VigencyDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.VigencyDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ApplicationUser)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ApplicationUser.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
