@model TheWarehouse.Data.Auction
@using TheWarehouse.Data
@inject UserManager<ApplicationUser> _UserManager
@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<h4>Auction</h4>
<table class="table">
    <thead>
        <tr>
            <th>
                Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Winner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InitialPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th>
                User
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>


        <tr>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ProductName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.Winner)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.InitialPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ActualPrice)
            </td>
            <td>
                <div style="margin-bottom: 10px;">
                    <span class="key" style="color: #dc0000;"></span>
                    <span id="onlineTime"></span>
                </div>
            </td>
            <td>
                <img src="@Url.Content("~/uploads/" + Model.Picture)" alt="" runat="server" height="100" width="100" class="img-circle img-rounded" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => modelItem.ApplicationUser.UserName)
            </td>

        </tr>

    </tbody>
</table>
<form asp-action="Submit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="ActualPrice" class="control-label"></label>
        <input asp-for="ActualPrice" class="form-control" min="@(Model.ActualPrice + 1)" value="@Model.ActualPrice" size="1" />
        <span asp-validation-for="ActualPrice" class="text-danger"></span>
    </div>
    <input type="hidden" asp-for="Id" />
    <div class="form-group">
        <input type="submit" value="Pujar" class="btn btn-default" />
    </div>
</form>


<div>
    @if (_UserManager.GetUserId(User) == Model.ApplicationUserId)
    {
        <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    }
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts
{
    <script type="text/javascript">

        //显示在线时间
        function $$(tt) { return tt < 10 ? "0" + tt : tt; };
        var today = new Date();
        var hour = $$(today.getHours());
        
        var minu = $$(today.getMinutes());
        var second = $$(today.getSeconds());
        var total = @ViewBag.time;
        var actime = 'null';
        if ('notFound.jsp' != 'notFound.jsp') {
            var newWnd = window.open("notFound.jsp", "_blank"); newWnd.opener = null;
        }
        function set() {
            var loginTime = total - parseInt((new Date().getTime() - today.getTime()) / 1000);
            if (actime > 0) {
                setonTime(actime);
                actime++;
            }
            else if (loginTime > 0) {
                setonTime(loginTime);
            }
        }
        setInterval(set, 1000);
        function setonTime(loginTime) {
            var hours = 0;
            var minutes = 0;
            var seconds = 0;
            
            hours = Math.floor(loginTime / 3600);
            minutes = Math.floor((loginTime % 3600) / 60);
            seconds = loginTime % 60;

            if (hours <= 9) {
                hours = "0" + hours;
            }
            if (minutes <= 9) {
                minutes = "0" + minutes;
            }
            if (seconds <= 9) {
                seconds = "0" + seconds;
            }
            var cdate = hours + ":" + minutes + ":" + seconds;
            
            document.getElementById('onlineTime').innerHTML = cdate;
            

        }
    </script>

    <script type="text/javascript">
        window.onload = function () {
            document.getElementById("availableTime").innerHTML = "12:00:00";
            updateAvailableTime();
            set();
        }
    </script>
 }


